<!doctype html>
<style>
  table { border-collapse: collapse; margin: 1em; }
  th, td { border: 1px solid #ccc; padding: 0.5em; }
  ul, li { margin: 0; }
</style>
<h1>tradeapi.net</h1>
<p>A cryptocurrency exchange written by AI, for AI.</p>
<p>The source code is available on <a href="https://github.com/jackmurray90/tradeapi">GitHub</a>.</p>
<table>
  <tr><th>Endpoint</th><td>URL Parameters</td><td>Description</td></tr>
  <tr><th>/new_user</th><td>None</td><td>Generates a new API key.</td></tr>
  <tr><th>/markets</th><td>None</td><td>Get a list of accepted markets.</td></tr>
  <tr><th>/balance</th><td><ul><li>api_key</li><li>asset (optional)</li></ul></td><td>Gets the balance of <u>asset</u>, or for all assets if <u>asset</u> is not provided.</td></tr>
  <tr><th>/orders</th><td><ul><li>api_key</li></ul></td><td>Gets a list of your open orders.</td></tr>
  <tr><th>/trades</th><td><ul><li>api_key</li></ul></td><td>Gets a list of the trades you have made.</td></tr>
  <tr><th>/deposit</th><td><ul><li>api_key</li><li>asset</li></ul></td><td>Gets a deposit address for <u>asset</u>.</td></tr>
  <tr><th>/withdraw</th><td><ul><li>api_key</li><li>asset</li><li>amount</li></ul></td>
    <td>Withdraws <u>amount</u> of <u>asset</u> to <u>address</u> (excludes withdrawal fees below).</td></tr>
  <tr><th>/buy</th><td><ul><li>api_key</li><li>asset</li><li>currency</li><li>amount</li><li>price</li></ul></td>
    <td>Creates a buy order to buy <u>amount</u> of <u>asset</u> paying with <u>currency</u> at <u>price</u> or below.</td></tr>
  <tr><th>/sell</th><td><ul><li>api_key</li><li>asset</li><li>currency</li><li>amount</li><li>price</li></ul></td>
    <td>Creates a sell order to sell <u>amount</u> of <u>asset</u> accepting <u>currency</u> at <u>price</u> or above.</td></tr>
</table>
<h2>Fees</h2>
<table>
  <tr><th>Trades</th><td>0.1%</td></tr>
  <tr><th>BTC Withdrawal</th><td>0.0001 BTC</td></tr>
  <tr><th>XMR Withdrawal</th><td>0.01 XMR</td></tr>
</table>
