<!doctype html>
<style>
  html { background-color: #000; color: #fff; }
  body { text-align: center; }
  table { border-collapse: collapse; margin: 1em auto; }
  th, td { border: 1px solid #111; padding: 0.5em; }
  ul, li { margin: 0; padding: 0; list-style: none; }
  pre { text-align: left; }
  #nav a { padding: 0 2em; }
  a, a:hover, a:visited { color: rgb(236, 103, 44); text-decoration: none; }
</style>
<meta name="description" content="Monero/Bitcoin cryptocurrency exchange with 0% trading fees. No sign up required."/>
<meta name=”robots” content="index, follow"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="keywords" content="Monero, Bitcoin, Exchange"/>
<meta charset="UTF-8"/>
<title>Fryx Finance</title>
<p id="nav"><a href="/">Buy Monero</a> <a href="/xmr/sell">Sell Monero</a> <a href="/api">API Documentation</a></p>
<h1><img src="/header.png"/></h1>
<h2>API Documentation</h2>
<p>Requests are rate-limited at 50 requests per second.</p>
<p>There is a 0.2% fee for all trades.</p>
<table>
  <tr><th>Endpoint</th><th>URL Parameters</th><th>Description</th><th>Example Responses</th></tr>
  <tr><th>/new_user</th><td></td><td>Generates a new API key.</td><td><pre>{"api_key": "iQtxykjG48y3F9A93jRPqC"}</pre></td></tr>
  <tr><th>/order_book</th><td><ul><li>market</li></ul></td><td>Gets the order book for <u>market</u>.</td><td>
<pre>[{
  "amount":"0.010000000000000000",
  "executed": "0.000000000000000000",
  "price":"0.010000000000000000",
  "type":"buy"
}]</pre></td></tr>
  <tr><th>/balances</th><td><ul><li>api_key</li></ul></td><td>Gets the balances for both XMR and BTC.</td>
    <td><pre>{"XMR": "0E-18", "BTC": "0E-18"}</pre></td></tr>
    <tr><th>/orders</th><td><ul><li>api_key</li><li>market</li></ul></td><td>Gets a list of your open orders in <u>market</u>.</td>
    <td>
<pre>[{
  "amount":"0.010000000000000000",
  "executed": "0.000000000000000000",
  "id":1,
  "price":"0.010000000000000000",
  "type":"buy"
}]</pre></td></tr>
  <tr><th>/trades</th><td><ul><li>api_key</li><li>market</li></ul></td><td>Gets a list of the trades you have made in <u>market</u>.</td>
    <td>
<pre>[{
  "amount":"0.010000000000000000",
  "fee":"0.0000002000",
  "price":"0.010000000000000000",
  "timestamp": 1673138672,
  "type":"buy"
}]</pre></td></tr>
  <tr><th>/deposit</th><td><ul><li>api_key</li><li>asset</li></ul></td><td>Gets a deposit address for <u>asset</u>.</td><td><pre>{"address": "bc1qh5jnz3tjtvththmd0sjru5sq97p8e9qj9mm794"}</pre></td></tr>
  <tr><th>/withdraw</th><td><ul><li>api_key</li><li>asset</li><li>amount</li></ul></td>
    <td>Withdraws <u>amount</u> of <u>asset</u> to <u>address</u>. Total withdrawn is <u>amount</u>-</u>withdrawal fee</u>.</td><td><pre>{"success": true}</pre></td></tr>
  <tr><th>/buy</th><td><ul><li>api_key</li><li>market</li><li>amount</li><li>price</li></ul></td>
    <td>Creates an order to buy <u>amount</u> of base asset in <u>market</u> at <u>price</u> or below.<br/>Returns the <u>order_id</u>, or success if the order was filled.</td><td><pre>{"order_id": 1}</pre><pre>{"success": true}</td></tr>
  <tr><th>/sell</th><td><ul><li>api_key</li><li>market</li><li>amount</li><li>price</li></ul></td>
    <td>Creates an order to sell <u>amount</u> of base asset in <u>market</u> at <u>price</u> or above.<br/>Returns the <u>order_id</u>, or success if the order was filled.</td><td><pre>{"order_id": 2}</pre><pre>{"success": true}</pre></td></tr>
  <tr><th>/cancel</th><td><ul><li>api_key</li><li>order_id</li></td><td>Cancels an order.</td><td><pre>{"success": true}</pre></td></tr>
</table>
<h2>Withdrawal Fees</h2>
<table>
  <tr><th>BTC Withdrawal</th><td>0.0001 BTC</td></tr>
  <tr><th>XMR Withdrawal</th><td>0.0001 XMR</td></tr>
</table>
<h2>Assets</h2>
<table>
  <tr><td>BTC</td></tr>
  <tr><td>XMR</td></tr>
</table>
<h2>Markets</h2>
<table>
  <tr><td>XMRBTC</td></tr>
</table>
