{% extends 'base.html' %}
{% block head %}
  <meta http-equiv="refresh" content="20"/>
{% endblock %}
{% block content %}
  <p>The minimum deposit amount is 0.02 XMR. Withdrawal fee is 0.0001 BTC.</p>
  <form action="">
    <p><input name="amount" placeholder="Amount of Monero" value="{{ amount|format_decimal(12) }}"/> <input type="submit" value="Calculate approximate value"/></p>
  </form>
  {% if message %}
    <p>{{ message }}</p>
  {% endif %}
  {% if hit_maximum %}
    <p>We can only exchange {{ amount|format_decimal(12) }} XMR at the moment.</p>
  {% endif %}
  {% if approximate_value is not none %}
    <p>This has value of approximately {{ approximate_value|format_decimal(8) }} BTC.</p>
  {% endif %}
  <p>Your deposit address is:</p>
  <p><strong class="light">{{ address }}</strong></p>
  <p>As soon as we receive a deposit, we will exchange it and send the result to the address you provided.</p>
  {% if not unconfirmed_transactions and not confirmed_deposits %}
    <p>Waiting for deposit... <img src="/loading.gif" width="32px"/></p>
  {% endif %}
  {% for transaction in unconfirmed_transactions %}
    <p><strong class="dark">Receiving {{ transaction['amount']|format_decimal(12) }} XMR, {{ transaction['confirmations'] }}/25 confirmations.</strong> &nbsp;<img src="/loading.gif" width="32px"/></p>
  {% endfor %}
  {% for amount in confirmed_deposits %}
    <p><strong class="dark">Received {{ amount|format_decimal(12) }} XMR, 25/25 confirmations.</strong></p>
  {% endfor %}
  {% if confirmed_deposits and not unconfirmed_transactions %}
    <p>All done! Your Bitcoin should arrive soon.</p>
  {% endif %}
{% endblock %}
