<!doctype html>
<style>
  html { background-color: #000; color: #fff; }
  body { text-align: center; }
  input, button { background-color: #111; border: 1px solid #777; color: #fff; padding: 0.5em; }
  a, a:hover, a:visited { color: rgb(236, 103, 44); text-decoration: none; }
  #nav a { padding: 0 2em; }
</style>
<script src="/decimal.js"></script>
<script>
  function round_up_to_18_decimal_places(amount) {
    return new Decimal(amount.toFixed(18, Decimal.ROUND_UP));
  }
  async function calculate() {
    document.getElementById('result').innerHTML = 'Calculating...';
    let amount = null;
    try {
      amount = new Decimal(document.getElementById("amount").value);
    } catch (e) {
      document.getElementById('result').innerHTML = 'Please input a decimal amount.';
      return;
    }
    let order_book = null;
    try {
      const response = await fetch("/order_book");
      order_book = await response.json();
    } catch (e) {
      document.getElementById('result').innerHTML = 'Too many requests in a short-interval, please try again.';
      return;
    }
    order_book.sell.sort((a, b) => Decimal.sub(a.price, b.price).toNumber());
    let approximate_cost = new Decimal('0');
    let amount_exchanged = new Decimal('0');
    for (let i = 0; i < order_book.sell.length; i++) {
      const amount_to_exchange = Decimal.min(Decimal.sub(order_book.sell[i].amount, order_book.sell[i].executed), amount);
      const cost = round_up_to_18_decimal_places(Decimal.mul(order_book.sell[i].price, amount_to_exchange));
      approximate_cost = approximate_cost.add(cost);
      amount_exchanged = amount_exchanged.add(amount_to_exchange);
      amount = amount.sub(amount_to_exchange);
      if (amount.eq(new Decimal(0))) {
        break;
      }
    }
    approximate_cost = approximate_cost.add(new Decimal('0.00001'));
    if (amount.eq(new Decimal(0))) {
      document.getElementById('result').innerHTML = `This will cost approximately ${approximate_cost.toFixed(8, Decimal.ROUND_UP)} BTC.`;
    } else {
      document.getElementById('result').innerHTML = `The exchange can only exchange ${amount_exchanged.toFixed(12, Decimal.ROUND_DOWN)} XMR at the moment. This will cost approximately ${approximate_cost.toFixed(8, Decimal.ROUND_UP)} BTC.`;
    }
  }
</script>
<title>Fryx Finance</title>
<p id="nav"><a href="/">Buy Monero</a> <a href="/auto/sell">Sell Monero</a> <a href="https://github.com/jackmurray90/fryx-finance">Open-source</a> <a href="/api">API Documentation</a></p>
<h1><img src="/header.png"/></h1>
<p>Enter the amount of XMR you want to buy: <input id="amount"/> <button onClick="calculate()">Calculate approximate cost</button></p>
<p id="result"></p>
<p>In the event that we can't fulfil your entire order, we will send you a refund for the amount that was not exchanged.</p>
{% for error in errors %}
  <p>{{ error }}</p>
{% endfor %}
<form action="/auto/buy" method="post">
  <p><input name="monero_address" size="100" placeholder="Your Monero address"/></p>
  <p><input name="bitcoin_address" size="100" placeholder="Your Refund Bitcoin address"/></p>
  <p><input type="Submit" value="Buy Monero"/></p>
</form>
