{% extends 'base.html' %}
{% block content %}
  <h2>Buy Monero</h2>
  <form action="/" method="post">
    <p>If we can't fulfil your entire order, we will refund the amount that was not exchanged.</p>
    {% if error %}
      <p>{{ error }}</p>
    {% endif %}
    <input type="hidden" name="market" value="XMRBTC"/>
    <p><input name="withdrawal_address" size="100" placeholder="Your Monero address"/></p>
    <p><input name="refund_address" size="100" placeholder="Your Bitcoin refund address"/></p>
    <p><input type="Submit" id="action" value="Buy Monero"/></p>
  </form>
{% endblock %}
