<!doctype html>
<style>
  table { border-collapse: collapse; margin: 1em; }
  th, td { border: 1px solid #ccc; padding: 1em; }
</style>
<p>
  {% if api_key %}
    <a href="/dashboard/balances">Balances</a>
    <a href="/dashboard/orders">Orders</a>
    <a href="/dashboard/trades">Trades</a>
    <a href="/dashboard/settings">Settings</a>
    <a href="/fees">Fees</a>
    <form action="/logout" method="post" id='logout'><input type="submit" value="Logout"/>{{ csrf|safe }}</form>
  {% else %}
    <a href="/">Login</a>
    <a href="/api">API Documentation</a>
  {% endif %}
</p>
<h1>Our Fees</h1>
<table>
  <tr><th>Trades</th><td>0.1%</td></tr>
  <tr><th>BTC Withdrawal</th><td>0.0001 BTC</td></tr>
  <tr><th>XMR Withdrawal</th><td>0.01 XMR</td></tr>
</table>
