<!doctype html>
<title>Trade API</title>
<h1>Fryx Finance</h1>
<p>Welcome to Fryx Finance XMR/BTC <a href="https://github.com/jackmurray90/fryx-finance">open source</a> exchange. Here is the <a href="/api">API Documentation</a> for market makers.</p>
{% if failed %}
  <p>That address has been used on this site before. Please use a new address.</p>
{% endif %}
<form action="/auto/buy" method="post">
  Your Monero address: <input name="monero_address"/> <input type="Submit" value="Buy Monero"/>
</form>
<form action="/auto/sell" method="post">
  Your Bitcoin address: <input name="bitcoin_address"/> <input type="Submit" value="Sell Monero"/>
</form>
