<!doctype html>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script> function onSubmit(token) { document.getElementById("new_user").submit(); } </script>
<h1>tradeapi.net<small>, an open-source cryptocurrency exchange.</small></h1>
{% if invalid_login %}
  <p>Incorrect password.</p>
{% endif %}
<form id="new_user" action="/register" method='post'>
  <button class="g-recaptcha" data-sitekey="6Le6VaQjAAAAAGqzWtXquUn73ltoxbcAK-XTGlsQ" data-callback='onSubmit' data-action='submit'>Register a new account.</button>
  {{ csrf|safe }}
</form>
<p>or</p>
<form action="/login" method="post">
  <input type="password" name="api_key"/>
  <input type="submit" value="Login"/>
  {{ csrf|safe }}
</form>
