<!doctype html>
<style>
  table { border-collapse: collapse; margin: 1em; }
  th, td { border: 1px solid #ccc; padding: 1em; }
  #logout { display: inline; }
</style>
<p>
  {% for market in markets %}
    <a href='/market?asset={{ market["asset"] }}&currency={{ market["currency"] }}'>
      {{ market['asset'] }}/{{ market['currency'] }}
    </a>
  {% endfor %}
</p>
<p>
  <a href="/dashboard/balances">Balances</a>
  <a href="/dashboard/trades">Trades</a>
  <a href="/dashboard/settings">Settings</a>
  <a href="/api">API Documentation</a>
  <a href="/fees">Fees</a>
  <form action="/logout" method="post" id='logout'><input type="submit" value="Logout"/>{{ csrf|safe }}</form>
</p>
<h1>Orders</h1>
{% if orders %}
  <table>
    <tr><th>Market</th><th>Order Type</th><th>Amount</th><th>Price</th></tr>
    {% for order in orders %}
      <tr><td>{{ order['asset'] }}/{{ order['currency']}}</td><td>{{ order['type'] }}</td><td>{{ order['amount'] }}</td><td>{{ order['price'] }}</td></tr>
    {% endfor %}
  </table>
{% else %}
  <p>You have no open orders.</p>
{% endif %}
