{% extends 'base.html' %}
{% block content %}
  <h2>Sell Monero</h2>
  <form action="/xmr/sell" method="post">
    <p>If we can't fulfill your entire order, we will refund the amount that was not exchanged.</p>
    {% if message %}
      <p>{{ message }}</p>
    {% endif %}
    <input type="hidden" name="market" value="XMRBTC"/>
    {{ csrf|safe }}
    <p><input name="withdrawal_address" size="100" placeholder="Your Bitcoin address"/></p>
    <p><input name="refund_address" size="100" placeholder="Your Monero refund address"/></p>
    <p><input type="Submit" id="action" value="Sell Monero"/></p>
  </form>
{% endblock %}
