<!doctype html>
<style>
  body { text-align: center; }
</style>
<title>Fryx Finance</title>
<h1><a href="/"><img src="/fryx.finance.png" width="512px"/></a></h1>
<p>In the event that we can't fulfil your entire order, we will send you a refund for the amount that was not exchanged.</p>
<p>The withdrawal/refund fee is 0.0001 BTC and 0.0001 XMR.</p>
{% if failed %}
  <p>That address has been used on this site before. Please use a new address.</p>
{% endif %}
<form action="/auto/sell" method="post">
  <p><input name="bitcoin_address" size="100" placeholder="Your Bitcoin address"/></p>
  <p><input name="monero_address" size="100" placeholder="Your Refund Monero address"/></p>
  <p><input type="Submit" value="Sell Monero"/></p>
</form>
