<!doctype html>
<style>
  html { background-color: #000; color: #fff; }
  body { text-align: center; }
  input, button { background-color: #111; border: 1px solid #777; color: #fff; padding: 0.5em; }
</style>
<script src="/decimal.js"></script>
<script>
  function round_to_18_decimal_places(amount) {
    return new Decimal(amount.toFixed(18, Decimal.ROUND_DOWN));
  }
  async function calculate() {
    document.getElementById('result').innerHTML = 'Calculating...';
    let amount = null;
    try {
      amount = new Decimal(document.getElementById("amount").value);
    } catch (e) {
      document.getElementById('result').innerHTML = 'Please input a decimal amount.';
      return;
    }
    let order_book = null;
    try {
      const response = await fetch("/order_book");
      order_book = await response.json();
    } catch (e) {
      document.getElementById('result').innerHTML = 'Too many requests in a short-interval, please try again.';
      return;
    }
    order_book.buy.sort((a, b) => Decimal.sub(b.price, a.price).toNumber());
    let approximate_value = new Decimal('0');
    let amount_exchanged = new Decimal('0');
    for (let i = 0; i < order_book.buy.length; i++) {
      const amount_to_exchange = Decimal.min(Decimal.sub(order_book.buy[i].amount, order_book.buy[i].executed), amount);
      const value = round_to_18_decimal_places(Decimal.mul(order_book.buy[i].price, amount_to_exchange));
      approximate_value = approximate_value.add(value);
      amount_exchanged = amount_exchanged.add(amount_to_exchange);
      amount = amount.sub(amount_to_exchange);
      if (amount.eq(new Decimal(0))) {
        break;
      }
    }
    approximate_value = approximate_value.sub(new Decimal('0.0001'));
    if (amount.eq(new Decimal(0))) {
      document.getElementById('result').innerHTML = `This has value of approximately ${approximate_value.toFixed(8, Decimal.ROUND_UP)} BTC.`;
    } else {
      document.getElementById('result').innerHTML = `The exchange can only exchange ${amount_exchanged.toFixed(12, Decimal.ROUND_DOWN)} XMR at the moment. This has value of approximately ${approximate_value.toFixed(8, Decimal.ROUND_UP)} BTC.`;
    }
  }
</script>
<title>Fryx Finance</title>
<h1><a href="/"><img src="/header.png"/></a></h1>
<p>Enter the amount of XMR you want to sell: <input id="amount"/> <button onClick="calculate()">Calculate approximate value</button></p>
<p id="result"></p>
<p>In the event that we can't fulfil your entire order, we will send you a refund for the amount that was not exchanged.</p>
{% for error in errors %}
  <p>{{ error }}</p>
{% endfor %}
<form action="/auto/sell" method="post">
  <p><input name="bitcoin_address" size="100" placeholder="Your Bitcoin address"/></p>
  <p><input name="monero_address" size="100" placeholder="Your Refund Monero address"/></p>
  <p><input type="Submit" value="Sell Monero"/></p>
</form>
