<!doctype html>
<style>
  table { border-collapse: collapse; margin: 1em; }
  th, td { border: 1px solid #ccc; padding: 1em; }
  #logout { display: inline; }
</style>
<p>
  {% for market in markets %}
    <a href='/market?asset={{ market["asset"] }}&currency={{ market["currency"] }}'>
      {{ market['asset'] }}/{{ market['currency'] }}
    </a>
  {% endfor %}
</p>
<p>
  <a href="/dashboard/balances">Balances</a>
  <a href="/dashboard/orders">Orders</a>
  <a href="/dashboard/settings">Settings</a>
  <a href="/api">API Documentation</a>
  <a href="/fees">Fees</a>
  <form action="/logout" method="post" id='logout'><input type="submit" value="Logout"/>{{ csrf|safe }}</form>
</p>
<h2>Trades</h2>
{% if trades %}
  <table>
    <tr><th>Market</th><th>Order Type</th><th>Amount</th><th>Price</th><th>Fee</th></tr>
    {% for trade in trades %} 
      <tr><td>{{ trade['asset'] }}/{{ trade['currency']}}</td><td>{{ trade['type'] }}</td><td>{{ trade['amount'] }}</td><td>{{ trade['price'] }}</td><td>{{ trade['fee'] }}</td></tr>
    {% endfor %}
  </table>
{% else %}
  <p>You have made no trades.</p>
{% endif %}
