{% extends 'base.html' %}
{% block head %}
  <meta http-equiv="refresh" content="20"/>
{% endblock %}
{% block content %}
  <h2>Deposit</h2>
  <table>
    <tr><th>Asset</th><th>Address</th></tr>
    {% for asset in assets %}
      <tr><td>{{ asset['name'] }}</td><td>{{ asset['address'] }}</td></tr>
    {% endfor %}
  </table>
  {% if not unconfirmed_deposits %}
    <p>Waiting for deposits... <img src="/loading.gif" width="32px"/></p>
  {% endif %}
  {% for deposit in unconfirmed_deposits %}
    <p>Receiving {{ deposit['amount']|format_decimal(18) }} {{ deposit['asset_name'] }}, {{ deposit['confirmations'] }}/{{ deposit['required_confirmations'] }} &nbsp;<img src="/loading.gif" width="32px"/></p>
  {% endfor %}
{% endblock %}
